.rock, .paper, .scissor{
    width: 150px;
    height: 150px;
    /* border-radius: 50%; */
    border-color: black;
    border-style: solid;
    border-width: 5px;
    margin: 2.5rem;
    margin-top: 25px;
}
.boxes{
    display: flex;
    justify-content: center;
}
.heading{
    text-align: center;
    margin-top: 0cm;
}
.rock{
    background-image: url("rock.avif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
.scissor{
    background-image: url("scissor.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
.paper{
    background-image: url("paper.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
.hello{
    text-align: center;
    margin-top: 3px;
}
.cscore,.uscore{
    height: 20px;
    width: 100px;
    border: 3.5px solid black;
    text-align: center;
    margin-top: 0px;
}
 .computer{
    height: 150px;
    width: 150px;
    border: 2px solid black;
    border-radius: 70%; 
}

.flex{
    margin-top: 0px;
    display: flex;
    column-gap: 500px;
    margin-left: 250px;
}
.flax{
    margin-left: 330px;
    display: flex;
    column-gap: 650px;

}
.computer{
    margin: auto;
}
.result{
    text-align: center;
}
.resu{
    display: flex;
    justify-content: center;
    /* column-gap : 100px; */
}
.flash{
    background-image: url("rock.avif");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
.flash1{
    background-image: url("paper.jpeg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
.flash2{
    background-image: url("scissor.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0px;
}
body{
    background-image:url("rock-paper-scissors-kid-hand-260nw-327624893.webp");
    background-size: cover;
    background-color: aliceblue;
}
.two,.three{
    margin-top: 0px;
}